::-webkit-scrollbar {
    width: 20px;
    height: 20px;
}

::-webkit-scrollbar-button {
    display: block;
    width: 20px;
    height: 20px;
    background-color: var(--window-background);
    border-top: ridge 2px var(--frame-shadow-white);
    border-left: ridge 2px var(--frame-shadow-white);
    border-bottom: var(--frame-border-style) 2px var(--frame-shadow-black);
    border-right: var(--frame-border-style) 2px var(--frame-shadow-black);
    background-position: center;
    background-repeat: no-repeat;
}

::-webkit-scrollbar-button:vertical:start:increment,
::-webkit-scrollbar-button:vertical:end:decrement,
::-webkit-scrollbar-button:horizontal:start:increment,
::-webkit-scrollbar-button:horizontal:end:decrement {
    display: none;
}

::-webkit-scrollbar-button:vertical:increment {
    background-image: var(--vertical-increment);
}

::-webkit-scrollbar-button:vertical:disabled:increment {
    background-image: var(--vertical-increment-disabled);
}

::-webkit-scrollbar-button:vertical:decrement {
    background-image: var(--vertical-decrement);
}

::-webkit-scrollbar-button:vertical:disabled:decrement {
    background-image: var(--vertical-decrement-disabled);
}

::-webkit-scrollbar-button:horizontal:increment {
    background-image: url('../assets/icons/scroll-buttom/iconmonstr-arrow-right.svg');
    background-image: var(--horizontal-increment);
}

::-webkit-scrollbar-button:horizontal:disabled:increment {
    background-image: url('../assets/icons/scroll-buttom/iconmonstr-arrow-right-disabled.svg');
    background-image: var(--horizontal-increment-disabled);
}

::-webkit-scrollbar-button:horizontal:decrement {
    background-image: url('../assets/icons/scroll-buttom/iconmonstr-arrow-left.svg');
    background-image: var(--horizontal-decrement);
}

::-webkit-scrollbar-button:horizontal:disabled:decrement {
    background-image: url('../assets/icons/scroll-buttom/iconmonstr-arrow-left-disabled.svg');
    background-image: var(--horizontal-decrement-disabled);
}

::-webkit-scrollbar-thumb {
    background-color: var(--window-background);
    border-top: ridge 2px var(--frame-shadow-white);
    border-left: ridge 2px var(--frame-shadow-white);
    border-bottom: var(--frame-border-style) 2px var(--frame-shadow-black);
    border-right: var(--frame-border-style) 2px var(--frame-shadow-black);
}

::-webkit-scrollbar-track-piece {
    background-color: var(--scroll-background);
}

::-webkit-resizer {
    background: var(--scroll-background);
    background-image: url('../assets/icons/window/resize.png');
}