@font-face {
    font-family: 'Windows 95';
    src: url('fonts/MS-Sans-Serif-8pt.ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    overflow: hidden;
}

body div {
    font-family: "Windows 95", sans-serif;
    color: rgb(0, 0, 0);
}

.hidden {
    opacity: 0;
}

.index {
    z-index: 2;
}

#win {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: url('../assets/background/kime-nanami-pastelsky.gif');
    background-size: cover;
}

#taskbar {
    min-height: 26px;
    background-color: rgb(187, 180, 185);
    position: absolute;
    display: flex;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-top: ridge 2px white;
}

#btnStart,
#hello-btn,
#about-me-btn {
    text-align: center;
    font-size: 12px;
    height: 21px;
    cursor: default;
    margin: 0 0.2rem 0 0.2rem;
    padding: 0 0.5rem 0 0.5rem;
}

#btnStart {
    /* margin-right: 1rem; */
    font-weight: bolder;
}

#hello-btns,
#about-me-btns {
    margin-left: auto;
    display: flex;
}

#about-me-min,
#about-me-max,
#about-me-cls,
#hello-min,
#hello-max,
#hello-cls {
    background-color: rgb(187, 180, 185);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 21px;
    height: 21px;
    cursor: pointer;
}

#about-me-max,
#hello-max {
    color: #808080;
    text-shadow: white 1px 1px;
    cursor: default;
}

#startMenu {
    top: -141px;
    left: 0;
    background-color: rgb(189, 181, 181);
    position: absolute;
    z-index: 99;
    display: block;
    border-top: ridge 3px white;
    border-left: ridge 3px white;
    border-bottom: ridge 2px black;
    border-right: ridge 2px grey;
}

#startMenu #left {
    width: 28px;
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    background-color: rgb(128, 128, 128);
    font-family: Arial;
    font-weight: 900;
    text-transform: capitalize;
}

#startMenu .menuItem {
    height: 32px;
    width: 134px;
    margin-left: 24px;
    padding-left: 10px;
    padding-top: 10px;
    vertical-align: central;
}

#startMenu .menuItem:hover {
    background-color: rgb(87, 0, 128);
    color: white;
}


#startMenu .menuItem:first-letter {
    text-decoration: underline;
}

#startMenu #shutdown:first-letter {
    text-decoration: none;
}

.header {
    background-image: linear-gradient(to right, rgb(150, 62, 128), rgb(209, 130, 189));
    max-width: 100%;
    display: flex;
    align-items: center;
    margin: 1px;
    height: 23px;
    flex: 0 1 auto;
}

.title {
    margin: 3px;
    color: white;
    align-self: center;
}

#about-me {
    position: fixed;
    max-width: 90%;
    max-height: 90%;
    width: 900px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%);
}

#about-me-content {
    background-color: rgb(189, 181, 181);
    flex: 1 1 auto;
}

#hello {
    position: relative;
    max-height: 90%;
    max-width: 90%;
    width: 600px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -120%);
}

#hello-content {
    background-color: rgb(189, 181, 181);
    flex: 1 1 auto;
}

#hello-body {
    background-color: rgb(255, 251, 245);
    height: 100%;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center
}

#hello-greeting {
    display: flex;
    width: 100%;
    align-items: center;
    line-height: 1;
}

.hello-img {
    margin: 10px;
    border-radius: 50%;
    min-width: 100px;
    max-width: 250px;
    border: 2px solid #fff;
    box-shadow: 1px 2px 5px #ccc;
}

.startRest {
    border-top: ridge 2px white;
    border-left: ridge 2px white;
    border-bottom: ridge 2px black;
    border-right: ridge 2px black;
}

.startClick {
    border-top: inset 2px black;
    border-left: inset 2px black;
    border-bottom: inset 2px white;
    border-right: inset 2px white;
}

#notifications {
    margin-left: auto;
    border-top: inset 2px grey;
    border-left: inset 2px grey;
    border-bottom: inset 2px white;
    border-right: inset 2px white;
    padding-top: 17px;
    width: 52px;
    height: 21px;
}

#desktop {
    height: calc(100% - 26px);
    background-color: transparent;
    width: 100%;
    padding: 10px;
}

#clock {
    margin: -30% 0 0 20%;
    font-size: 10px;
    font-weight: bold;
}

.desktopIcon {
    margin: 7px 7px;
    display: block;
    height: 50px;
    width: 50px;
    font-size: 12px;
    text-shadow:
        -1px -1px 1px black,
        -1px 1px 1px black,
        1px -1px 1px black,
        1px 1px 1px black;
    text-align: center;
    color: white;
    cursor: pointer;
}

.icon {
    filter: grayscale(40%);
}

#mycomputer {
    background-color: transparent;
}

.divider {
    height: 1px;
    border-top: ridge 1px white;
    border-bottom: ridge 1px grey;
    margin: 2px;
}