.content {
    position: fixed;
    display: flex;
    overflow: hidden;
    flex-flow: column;
    background-color: var(--window-background);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -51.5%);
    transition: background 0.1s linear,
        border 0.1s linear,
        outline 0.1s linear,
        color 0.1s linear,
        box-shadow 0.5s linear,
        min-height 0.25s ease-in-out,
        min-width 0.25s ease-in-out,
        max-height 0.25s ease-in-out,
        max-width 0.25s ease-in-out;
}

body {
    overflow: auto;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    & div {
        font-family: 'Minecraftia-Regular', sans-serif;
        color: black;
    }

    &::before {
        content: "";
        position: fixed;
        left: 0;
        right: 0;
        z-index: -1;

        display: block;
        background: var(--background-image);
        background-size: cover;
        transition: background 1s ease-in-out;
        width: 100%;
        height: 100%;

        -webkit-filter: var(--background-image-effect);
        -moz-filter: var(--background-image-effect);
        -o-filter: var(--background-image-effect);
        -ms-filter: var(--background-image-effect);
        filter: var(--background-image-effect);
    }
}

#about-me,
#welcome,
#training,
#skills,
#music-player,
#credits {
    position: relative;
}

#about-me-content.maximize,
#welcome-content.maximize,
#training-content.maximize,
#skills-content.maximize,
#credits-content.maximize {
    position: fixed;
    min-width: 100%;
    min-height: calc(calc(var(--vh, 1vh) * 100) - 26px);
    top: 0px !important;
    left: 0px !important;
    transform: none;
    border: none;
}

#about-me-content.maximize #about-me-body,
#welcome-content.maximize #welcome-body-container,
#training-content.maximize #training-body,
#skills-content.maximize #skills-body,
#credits-content.maximize #credits-body {
    min-width: 100%;
}

#welcome.hideContent #welcome-content,
#about-me.hideContent #about-me-content,
#training.hideContent #training-content,
#skills.hideContent #skills-content,
#music-player.hideContent #music-player-content,
#credits.hideContent #credits-content {
    max-height: 0;
    max-width: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
}

#welcome #welcome-content.maximize,
#training #training-content.maximize,
#about-me #about-me-content.maximize,
#skills #skills-content.maximize,
#credits #credits-content.maximize {
    max-height: 0;
    max-width: 0;
    overflow: hidden;
}

#welcome.hideContent #welcome-content.maximize,
#training.hideContent #training-content.maximize,
#skills.hideContent #skills-content.maximize,
#about-me.hideContent #about-me-content.maximize,
#credits.hideContent #credits-content.maximize {
    min-height: 0;
    min-width: 0;
    padding: 0;
    overflow: hidden;
}

#welcome-content,
#about-me-content,
#training-content,
#skills-content,
#music-player-content,
#credits-content {
    overflow: hidden;
    max-height: auto;
    max-width: auto;
    padding: 2px;
}

.navigator {
    display: flex;
    padding-top: 1px;
    padding-bottom: 1px;

    & span {
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 8px;
        margin-bottom: -20px;
    }

    & .navigatorText {
        display: flex;
        justify-content: space-between;
        width: 100%;
        background-color: var(--body-background);
        outline: none;

        & .startRest {
            background-image: var(--vertical-increment);
            background-color: var(--window-background);
            background-position: center;
            background-repeat: no-repeat;
        }
    }
}