#training-btn,
#training-header-title {
    background: url('../assets/icons/desktop/console.png') left center no-repeat;
    background-size: 15px 15px;
    background-position-x: 2px;
}

#training-content.maximize #training-body {
    min-height: calc(calc(var(--vh, 1vh) * 100) - 55px) !important;
}

.unlockHeight {
    min-height: 120px !important;
    max-height: calc(var(--vh, 1vh) * 85) !important;
}

#training-content {
    max-width: 900px;
    max-width: 90%;
}

#training-body {
    position: relative;
    background-color: var(--console-background);
    min-height: 511px;
    max-height: 511px;
    width: 900px;
    padding: 10px;
    resize: both;
    overflow-x: scroll;
    overflow-y: scroll;
    overflow-anchor: none;

    & span {
        max-width: 900px;
        color: var(--console-text-color);
    }
}

#training-body-header-training,
#training-body-header-certificates {
    display: flex;
    white-space: pre;
    justify-content: center;
}

@keyframes cursorBlink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#cursor {
    animation: cursorBlink 1s step-end infinite;
}