#taskbar {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: var(--window-backgroud);
    display: flex;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-top: var(--frame-border-style) 2px var(--frame-shadow-white);
}

#start-btn {
    background: url('../assets/icons/social/icons8-pixel-star-16.png') left center no-repeat;
    background-size: 15px 15px;
    background-position-x: 2px;
}

#start-menu {
    display: flex;
    flex-direction: column;
    top: -172px;
    left: 0;
    background-color: var(--window-backgroud);
    background-size: 100px;
    position: absolute;
    z-index: 99;
    display: block;
    border-top: ridge 3px var(--frame-shadow-white);
    border-left: ridge 3px var(--frame-shadow-white);
    border-bottom: var(--frame-border-style) 2px var(--frame-shadow-black);
    border-right: var(--frame-border-style) 2px var(--frame-shadow-black);
    max-width: unset;
    max-height: unset;
}

#start-menu #left {
    width: 28px;
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    background-color: var(--start-menu-left-color);
    text-transform: capitalize;
}

#start-menu .menuItem {
    height: 32px;
    width: 134px;
    line-height: 0px;
    margin-left: 29px;
    padding-left: 5px;
    padding-top: 20px;
    margin-bottom: 0px;
}

#start-menu .menuItem:hover {
    background-color: var(--task-bar-button-hover);
    color: var(--task-bar-button-hover-text-color);
}

#start-menu .menuItem:hover span {
    color: var(--task-bar-button-hover-text-color);
}


#start-menu .menuItem:first-letter {
    text-decoration: underline;
    padding: 0;
}

#start-menu #shutdown:first-letter {
    text-decoration: none;
}

#start-menu #left .b {
    color: rgb(192, 192, 192);
    transform: rotateZ(-90deg);
    transform-origin: center left;
    display: inline-block;
    width: 200px;
    white-space: nowrap;
    font-size: 20px;
    margin-top: 150px;
    margin-left: 20px;
}

#start-menu #left .menu {
    color: white;
}

.windowMenu {
    display: flex;
}

.windowMenu div {
    padding: 5px 5px 0 5px;
}

.windowMenu div:first-letter {
    text-decoration: underline;
}

.windowMenu div:hover {
    background-color: var(--task-bar-button-hover);
}

.windowMenu div:hover span {
    color: var(--task-bar-button-hover-text-color);
}

#notifications {
    margin-left: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 62px;
    font-weight: lighter;
}

#notifications div {
    height: 15px;
    width: 15px;
}

#clock {
    cursor: default;
    font-size: 10px;
}