.content {
    position: fixed;
    display: flex;
    overflow: hidden;
    flex-flow: column;
    background-color: var(--window-backgroud);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -51.5%);
    transition: background 1s linear,
        border 0.1s linear,
        outline 0.5s linear,
        color 0.5s linear,
        box-shadow 0.5s linear,
        min-height 0.25s ease-in-out,
        min-width 0.25s ease-in-out,
        max-height 0.25s ease-in-out,
        max-width 0.25s ease-in-out;
}

body {
    overflow: auto;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

body::before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;

    display: block;
    background: var(--backgroud-image);
    background-size: cover;
    transition: background 1s ease-in-out;
    width: 100%;
    height: 100%;

    -webkit-filter: var(--backgroud-image-effect);
    -moz-filter: var(--backgroud-image-effect);
    -o-filter: var(--backgroud-image-effect);
    -ms-filter: var(--backgroud-image-effect);
    filter: var(--backgroud-image-effect);
}

body div {
    font-family: 'Minecraftia-Regular', sans-serif;
    color: black;
}

#about-me,
#hello,
#music-player,
#training {
    position: relative;
}

#about-me-content.maximize,
#hello-content.maximize,
#training-content.maximize {
    position: fixed;
    min-width: 100%;
    min-height: calc(calc(var(--vh, 1vh) * 100) - 26px);
    top: 0px !important;
    left: 0px !important;
    transform: none;
    border: none;
}

#about-me-content.maximize #about-me-body,
#hello-content.maximize #hello-greeting,
#training-content.maximize #training-body {
    backface-visibility: hidden;
    min-width: 100%;
}

#about-me-content.maximize #about-me-body {
    min-height: calc(calc(var(--vh, 1vh) * 100) - 74px);
}

#hello-content.maximize #hello-greeting {
    min-height: calc(calc(var(--vh, 1vh) * 100) - 59px);
}

#hello.hideContent #hello-content,
#about-me.hideContent #about-me-content,
#training.hideContent #training-content,
#music-player.hideContent #music-player-content {
    max-height: 0;
    max-width: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
}

#hello #hello-content.maximize,
#training #training-content.maximize,
#about-me #about-me-content.maximize {
    max-height: 0;
    max-width: 0;
    overflow: hidden;
}

#hello.hideContent #hello-content.maximize,
#training.hideContent #training-content.maximize,
#about-me.hideContent #about-me-content.maximize {
    min-height: 0;
    min-width: 0;
    padding: 0;
    overflow: hidden;
}

#hello-content,
#about-me-content,
#training-content,
#music-player-content {
    overflow: hidden;
    max-height: auto;
    max-width: auto;
    padding: 2px;
}