#credits-btn,
#credits-header-title {
    background: url('../assets/icons/desktop/text_file_2.png') left center no-repeat;
    background-size: 15px 15px;
    background-position-x: 2px;
}

#credits-content.maximize #credits-body {
    min-height: calc(calc(var(--vh, 1vh) * 100) - 74px);
}

#credits-content {
    max-width: 90%;
}

#credits-body {
    position: relative;
    background-color: var(--body-background);
    max-height: 80vh;
    height: auto;
    width: 600px;
    padding: 20px;
    text-align: justify;
    resize: both;
    overflow-x: scroll;
    overflow-y: scroll;
    overflow-anchor: none;

    & hr {
        border-top: 1px dashed var(--dashed-text-divider);
    }

    & h1 {
        padding-top: 10px;
        padding-bottom: 5px;
    }

    & a {
        color: var(--color-link);

        &:hover {
            color: var(--color-link-hover);
        }
    }
}

pre {
    color: var(--text-color);
    font-family: monospace;
    font-size: 8px;
    background-color: transparent;
    border: none;
    overflow: hidden;
    margin: 0;
    text-align: center;
    font-weight: bolder;
}