#skills-btn,
#skills-header-title {
    background: url('../assets/icons/desktop/folder_open.png') left center no-repeat;
    background-size: 15px 15px;
    background-position-x: 2px;
}

#skills-content.maximize .skillNavigator,
#skills-content.maximize .skillIcons {
    min-height: calc(100vh - 114px);
}

#skills-content {
    max-width: 90%;
}

#skills-body {
    position: relative;
}

#dir {
    overflow: hidden;
    max-width: 90%;
    max-height: 20px;
    overflow: hidden;
}

.skillsBody {
    display: flex;
    gap: 2px;

    & .windowBorder {
        background-color: var(--body-background);
        padding: 10px;
    }

    & .skillNavigator,
    .skillIcons {
        overflow-x: scroll;
        overflow-y: scroll;
        max-height: calc(calc(var(--vh, 1vh) * 80));
    }

    & .skillIcons {
        resize: vertical;
        min-height: 300px;
        height: 500px;
        max-height: calc(calc(var(--vh, 1vh) * 80));
        width: 100%;
    }
}

.skillNavigator {
    resize: horizontal;
    min-width: 150px;
    width: 500px;
    max-width: 400px;
    z-index: 1;

    & .selector {
        padding-left: 1px;
        display: flex;
        gap: 5px;

        overflow: hidden;
        transition: all 0.3s ease-in-out;
        visibility: visible;

        & .selectorContent {
            display: flex;
            gap: 5px;
            padding-left: 1px;
            overflow: hidden;
            transition: all 0.5s ease-in-out;
            visibility: visible;

            & .selectorIcon {
                margin-top: 2px;
                margin-left: 1px;
                margin-right: 2px;
                width: 12px;
                height: 12px;
                cursor: pointer;

                background-color: var(--body-background);
                border: 1px solid var(--control-icon-color);

                & .icon {
                    width: 12px;
                    height: 12px;
                    background-color: var(--control-icon-color);
                    -webkit-mask: url('../assets/icons/window/iconmonstr-minus.svg') no-repeat 50% 50%;
                    mask: url('../assets/icons/window/iconmonstr-minus.svg') no-repeat 50% 50%;
                }
            }

            & .item::before {
                content: '';
                position: absolute;
                margin-left: -14px;
                margin-top: -20px;
                z-index: -1;
                width: 25px;
                height: 25px;
                border: none;
                border-left: 1px var(--text-color) dotted;
                border-bottom: 1px var(--text-color) dotted;
            }
        }
    }

    & .item {
        padding-top: 4px;
        padding-bottom: -2px;

        & span {
            display: flex;
            height: 20px;
            align-items: flex-end;
            padding-left: 24px;
            cursor: no-drop;
            white-space: pre;
        }
    }

    & .toogleFolder {
        & span {
            cursor: pointer;
        }

        &:active {
            outline: 1px dotted var(--control-icon-color);
            outline-offset: -1px;
        }
    }

    & .myComputer {
        background-image: url('../assets/icons/desktop/this_computer.png');
        background-size: 17px;
        background-repeat: no-repeat;
    }

    & .disk {
        background-image: url('../assets/icons/desktop/drive.png');
        background-size: 17px;
        background-repeat: no-repeat;
        background-position-y: -3px;
    }

    & .folder {
        background-image: url('../assets/icons/desktop/folder_closed.png');
        background-size: 17px;
        background-repeat: no-repeat;
        transition: none;
    }

    & .folderOpen {
        background-image: url('../assets/icons/desktop/folder_open.png') !important;
        background-size: 17px;
        background-repeat: no-repeat;
        transition: none;
    }
}

.Backend .backend,
.Frontend .frontend,
.Database .database,
.BaaS .baas,
.Software .software,
.OS .os {
    & * {
        max-height: auto;
        visibility: visible;
        transition: none;
    }
}


.skillContainer {
    visibility: hidden;
    height: 0;

    & .folderIconContainer .folderIcon {
        overflow: hidden;
        visibility: hidden;
    }
}

.skillContainer {
    & .skillsTextContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 5px;
        gap: 5px;

        & span {
            margin-top: 2px;
            margin-bottom: -7px;
            flex-grow: 0;
        }

        & .divider {
            flex-grow: 1;
            border: 1px;
            background-color: var(--text-color);
        }

        & .expander {
            cursor: pointer;
            padding-top: -5px;
            transform: none;
        }
    }

    & .folderIconContainer {
        overflow: hidden;
        transition: all 0.7s ease-in-out;
        visibility: visible;

        max-height: 500px;
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        padding-top: 25px;
        gap: 10px;


        & .folderIcon {
            transition: all 0.7s ease-in-out;
            transform: translateY(0%);
            overflow: visible;

            display: flex;
            flex-direction: column;
            align-items: center;

            & p {
                display: flex;
                flex-direction: column-reverse;
                justify-content: center;
                gap: 6px;
                width: 90px;
                font-size: 11px;
                margin: 0px;
                cursor: pointer;
                text-align: center;

                &.oneStar::after {
                    content: '\A★☆☆☆☆';
                }

                &.twoStars::after {
                    content: '\A★★☆☆☆';
                }

                &.threeStars::after {
                    content: '\A★★★☆☆';
                }

                &.fourStars::after {
                    content: '\A★★★★☆';
                }

                &.fiveStars::after {
                    content: '\A★★★★★';
                }
            }

            &:active p {
                outline: 1px dotted var(--control-icon-color);
            }

            & .icon {
                margin-bottom: 2px;
            }
        }
    }
}

.retract {
    & .skillsTextContainer {
        & .expander {
            transform: rotate(270deg);
        }
    }

    & .selector {
        overflow: hidden;
        max-height: 0;
        transition: all 0.7s ease-in-out;

        & .selectorContent {
            overflow: hidden;
            transition: all 0.7s ease-in-out;
            transform: translateY(-500%);
            visibility: hidden;
        }
    }

    & .selectorContent .selectorIcon .icon {
        -webkit-mask: url('../assets/icons/window/iconmonstr-plus.svg') no-repeat 50% 50% !important;
        mask: url('../assets/icons/window/iconmonstr-plus.svg') no-repeat 50% 50% !important;
    }

    & .folderIconContainer {
        max-height: 0;
        transition: all 0.7s ease-in-out;

        & .folderIcon {
            overflow: hidden;
            transition: all 0.7s ease-in-out;
            transform: translateY(-200%);
            visibility: hidden;
            max-height: 0;
        }
    }
}

@media screen and (max-width: 767px) {

    #skills-content.maximize {
        .skillsBody {
            height: calc(calc(var(--vh, 1vh) * 86));

            & .skillNavigator {
                min-width: 100%;
                min-height: 45%;
                overflow: visible;
            }

            & .skillIcons {
                padding-top: 25px;
                min-height: 55%;
            }
        }
    }

    .skillsBody {
        height: calc(calc(var(--vh, 1vh) * 80));
        flex-direction: column;

        & .skillNavigator {
            min-width: 100%;
            min-height: 45%;
            overflow: visible;
        }

        & .skillIcons {
            padding-top: 25px;
            min-height: 55%;
        }
    }

    .skillContainer {
        & .skillsTextContainer {
            & span {
                margin-bottom: 0px;
            }
        }
    }
}

@media screen and (min-width: 767px) {
    .skillContainer {
        & .skillsTextContainer {
            min-width: 500px;

            & span {
                margin-bottom: -7px;
            }
        }
    }
}