:root {
    --window-backgroud: rgb(187, 180, 185);

    --start-menu-left-color: rgb(151, 132, 151);

    --task-bar-button-hover: rgb(136, 24, 112);
    --task-bar-button-hover-text-color: white;

    --screnn-filter: invert(1%) sepia(10%) hue-rotate(10deg) brightness(99%);

    --body-backgroud-white: rgb(230, 230, 230);
    --body-backgroud-black: black;
    --console-text-color: rgb(111, 172, 82);

    --backgroud-image: url('../assets/background/kime-nanami-pastelsky.gif') 50% 50%;
    --backgroud-image-effect: none;


    --window-header-backgroud-color: linear-gradient(to right, rgb(150, 62, 128), rgb(209, 130, 189));
    --window-header-title-color: rgb(255, 251, 245);

    --frame-shadow-white: rgb(235, 235, 235);
    --frame-shadow-black: rgb(175, 175, 175);
    --frame-border-style: ridge;

    --music-player-volume-shadow-black: rgba(107, 107, 107, 0.5);
    --music-player-buttons-shadow-black: rgba(107, 107, 107);
    --music-player-slider-shadow-black: rgba(107, 107, 107);

    --button-frame-dotted-click: black;

    --desktop-title-icon-shadow: black;
    --desktop-title-icon-color: white;

    --image-border-color: transparent;
    --image-shadow-color: #00000041;

    --music-player-text-color: #ccc;
    --music-player-image-effect: invert(1%) sepia(10%) grayscale(40%) hue-rotate(10deg) brightness(99%);

    --scroll-backgroud: rgb(209, 209, 209);

    --control-icon-color: rgb(12, 5, 11);
    --dashed-text-divider: rgb(12, 5, 11);
    --text-color: rgb(12, 5, 11);
}

.dark-mode:root {
    --window-backgroud: #141414;

    --start-menu-left-color: #1e0524;

    --task-bar-button-hover: #381639;
    --task-bar-button-hover-text-color: rgb(226, 213, 224);

    --screnn-filter: invert(5%) sepia(10%) hue-rotate(10deg) brightness(99%);

    --body-backgroud-white: #222222;

    --backgroud-image: url('../assets/background/kime-nanami-pastelsky-nigth.gif') 50% 50%;
    --backgroud-image-effect: none;

    --window-header-backgroud-color: linear-gradient(to right, rgba(150, 62, 128, 0.185), rgba(209, 130, 189, 0.089));
    --window-header-title-color: rgb(226, 213, 224);

    --frame-shadow-white: rgba(102, 102, 102, 0.336);
    --frame-shadow-black: rgba(0, 0, 0, 0.692);
    --frame-border-style: solid;

    --music-player-volume-shadow-black: black;
    --music-player-buttons-shadow-black: black;
    --music-player-slider-shadow-black: black;

    --button-frame-dotted-click: rgb(78, 78, 78);

    --desktop-title-icon-shadow: black;
    --desktop-title-icon-color: white;

    --image-border-color: transparent;
    --image-shadow-color: #00000041;

    --music-player-text-color: rgb(226, 213, 224);
    --music-player-backgroud-color: black;
    --music-player-image-effect: grayscale(0.69) brightness(0.5) saturate(2.1) contrast(2.4) hue-rotate(360deg) sepia(0.29);

    --scroll-backgroud: #272727;

    --control-icon-color: rgb(247, 242, 248);
    --dashed-text-divider: rgb(247, 242, 248);
    --text-color: rgb(247, 242, 248);
}