@import './constants.css';

/* Botões menu iniciar */

#start-btn {
    background: url('../assets/icons/social/icons8-pixel-star-16.png') left center no-repeat;
    background-size: 15px 15px;
    background-position-x: 2px;
}

#hello-btn,
#hello-header-title {
    background: url('../assets/icons/desktop/program.png') left center no-repeat;
    background-size: 15px 15px;
    background-position-x: 2px;
}

#about-me-btn,
#about-me-header-title {
    background: url('../assets/icons/desktop/text_file.png') left center no-repeat;
    background-size: 15px 15px;
    background-position-x: 2px;
}

#music-player-btn,
#music-player-header-title {
    background: url('../assets/icons/desktop/music.png') left center no-repeat;
    background-size: 15px 15px;
    background-position-x: 2px;
}

.controlButtom {
    background-color: var(--control-icon-color);
    background-position: center;
    width: 100%;
    height: 100%;
}

.min {
    -webkit-mask: url('../assets/icons/minimize.svg') no-repeat 50% 75%;
    mask: url('../assets/icons/minimize.svg') no-repeat 50% 75%;
}

.max {
    -webkit-mask: url('../assets/icons/iconmonstr-maximize.svg') no-repeat 50% 50%;
    mask: url('../assets/icons/iconmonstr-maximize.svg') no-repeat 50% 50%;
}

.cls {
    -webkit-mask: url('../assets/icons/iconmonstr-x-close.svg') no-repeat 50% 50%;
    mask: url('../assets/icons/iconmonstr-x-close.svg') no-repeat 50% 50%;
}

.play {
    -webkit-mask: url('../assets/icons/player/iconmonstr-play.svg') no-repeat 50% 50%;
    mask: url('../assets/icons/player/iconmonstr-play.svg') no-repeat 50% 50%;
}

.pause {
    -webkit-mask: url('../assets/icons/player/iconmonstr-pause.svg') no-repeat 50% 50%;
    mask: url('../assets/icons/player/iconmonstr-pause.svg') no-repeat 50% 50%;
}

.stop {
    -webkit-mask: url('../assets/icons/player/iconmonstr-stop.svg') no-repeat 50% 50%;
    mask: url('../assets/icons/player/iconmonstr-stop.svg') no-repeat 50% 50%;
}

.previous {
    -webkit-mask: url('../assets/icons/player/iconmonstr-media-previous.svg') no-repeat 50% 50%;
    mask: url('../assets/icons/player/iconmonstr-media-previous.svg') no-repeat 50% 50%;
}

.next {
    -webkit-mask: url('../assets/icons/player/iconmonstr-media-next.svg') no-repeat 50% 50%;
    mask: url('../assets/icons/player/iconmonstr-media-next.svg') no-repeat 50% 50%;
}

#volume-icon {
    background-position: center;
    background-image: url('../assets/icons/desktop/sounds.png');
    background-size: 20px;
    background-repeat: no-repeat;
}