:root {
    --backgroud: rgb(187, 180, 185);
    --white: rgb(255, 251, 245);
    --hover: rgb(136, 24, 112);
    --shadow: rgb(172, 172, 172);
    --backgroud-image: url('../assets/background/kime-nanami-pastelsky.gif');
    --backgroud-image-effect: none;
}

.dark-mode:root {
    --white: rgb(78, 78, 78);
    --backgroud-image-effect: brightness(0.7) hue-rotate(20deg);
}

@font-face {
    font-family: 'Windows 95';
    src: url('fonts/MS-Sans-Serif-8pt.ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0px;
    margin: 0px;
    user-select: none;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
}

body {
    overflow: auto;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    /* position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: var(--backgroud-image) fixed;
    background-size: cover; */
}

body::before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;

    display: block;
    background: var(--backgroud-image) fixed;
    background-size: cover;
    width: 100%;
    height: 100%;

    -webkit-filter: var(--backgroud-image-effect);
    -moz-filter: var(--backgroud-image-effect);
    -o-filter: var(--backgroud-image-effect);
    -ms-filter: var(--backgroud-image-effect);
    filter: var(--backgroud-image-effect);
}

body div {
    font-family: "Windows 95", sans-serif;
    color: black;
}

a:link {
    text-decoration: none;
}

h1,
span {
    width: 100%;
    font-size: 100%;
    margin: 0;
}

.index {
    z-index: 2;
}

.header {
    touch-action: none;
    background-image: linear-gradient(to right, rgb(150, 62, 128), rgb(209, 130, 189));
    max-width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    height: 23px;
    flex: 0 1 auto;
}

.title {
    display: inline-block;
    padding: 0px 10px 0px 20px;
    max-width: 200px;
    color: white;
    align-self: center;
    overflow: hidden;
    max-width: 100%;
}

.helloGreetingText {
    display: inline-block;
    line-height: 0;
    width: 100%;
}

.helloItem {
    text-align: right;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 100%;
    max-height: 90%;
    padding: 1em;
}

.helloItemImg {
    align-items: center;
}

.startRest {
    border-top: ridge 2px white;
    border-left: ridge 2px white;
    border-bottom: ridge 2px var(--shadow);
    border-right: ridge 2px var(--shadow);
}

.startClick,
.windowBorder {
    border-top: inset 2px var(--shadow);
    border-left: inset 2px var(--shadow);
    border-bottom: inset 2px white;
    border-right: inset 2px white;
}

.startClick {
    outline: 1px dotted black;
    outline-offset: -4px;
}

.padding5px {
    padding: 5px;
}

#desktop-icons {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
}

#desktop-icons p {
    width: 50px;
    font-size: 12px;
    text-shadow:
        -1px -1px 1px black,
        -1px 1px 1px black,
        1px -1px 1px black,
        1px 1px 1px black;
    text-align: center;
    color: white;
}

.grey {
    filter: grayscale(40%);
}

.icon {
    width: 50px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
    filter: grayscale(40%);
}

.iconImage {
    size: 32px;
    filter: grayscale(40%);
}

.divider {
    height: 1px;
    border-top: ridge 1px white;
    border-bottom: ridge 1px var(--shadow);
    margin: 2px;
}

.taskBarDivider {
    border-left: 1px solid white;
    border-right: ridge 1px var(--shadow);
    height: 19px;
    margin: 1px 3px 0px 3px;
}

.windowDivider {
    border-left: 1px solid white;
    border-right: ridge 1px grey;
    height: 30px;
}

.smallButtom {
    background-color: var(--backgroud);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 21px;
    height: 21px;
    cursor: default;
}

.mediumButtom {
    background-color: var(--backgroud);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 30px;
    height: 30px;
    cursor: default;
}

.mediumButtomDisabled {
    background-color: var(--backgroud);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 30px;
    height: 30px;
    cursor: default;
}

.smallButtom:active,
.mediumButtom:active {
    border-top: inset 2px var(--shadow);
    border-left: inset 2px black;
    border-bottom: inset 2px white;
    border-right: inset 2px white;
    outline: 1px dotted black;
    outline-offset: -4px;
}

.desktopIcon:active p {
    outline: 1px dotted black;
}

.desktopIcon p {
    padding-top: 2px;
    cursor: pointer;
}

.resizable {
    resize: both;
    min-width: 300px;
    min-height: 100px;
}

.buttoms {
    background-color: var(--backgroud);
    margin-left: auto;
    display: flex;
}

.buttom {
    text-align: center;
    display: inline-block;
    min-width: 60px;
    max-width: 100px;
    font-size: 12px;
    height: 21px;
    padding: 0px 10px 0px 20px;
    margin: 1px 2px 0px 2px;
    cursor: default;
}

.content {
    position: fixed;
    display: flex;
    overflow: hidden;
    flex-flow: column;
    background-color: var(--backgroud);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.windowMenu {
    display: flex;
}

.windowMenu div {
    padding: 0 5px 0 5px;
}

.windowMenu div:first-letter {
    text-decoration: underline;
}

.windowMenu div:hover {
    background-color: var(--hover);
    color: white;
}

#screen {
    position: fixed;
    display: grid;
    grid-template-rows: auto 26px;
    filter: hue-rotate(20deg) sepia(0.15);
}

#taskbar {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: var(--backgroud);
    display: flex;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-top: ridge 2px white;
}

#desktop {
    position: relative;
    background: transparent;
    height: 100%;
    width: 100%;
    padding: 10px;
}

/* Start menu */

#start-menu {
    display: flex;
    flex-direction: column;
    top: -141px;
    left: 0;
    background-color: var(--backgroud);
    background-size: 100px;
    position: absolute;
    z-index: 99;
    display: block;
    border-top: ridge 3px white;
    border-left: ridge 3px white;
    border-bottom: ridge 2px black;
    border-right: ridge 2px grey;
    max-width: unset;
    max-height: unset;
}

#start-menu #left {
    width: 28px;
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    background-color: rgb(151, 132, 151);
    font-family: Arial;
    font-weight: 900;
    text-transform: capitalize;
}

#start-menu .menuItem {
    height: 32px;
    width: 134px;
    margin-left: 24px;
    padding-left: 10px;
    padding-top: 10px;
    vertical-align: central;
}

#start-menu .menuItem:hover {
    background-color: var(--hover);
    color: white;
}


#start-menu .menuItem:first-letter {
    text-decoration: underline;
}

#start-menu #shutdown:first-letter {
    text-decoration: none;
}

/* Janelas */

#about-me,
#hello,
#music-player {
    position: relative;
}

/* #about-me,
#hello,
#music-player {
    position: fixed;
} */

#about-me-content.maximize,
#hello-content.maximize {
    position: fixed;
    min-width: 100%;
    min-height: calc(calc(var(--vh, 1vh) * 100) - 26px);
    top: 0px !important;
    left: 0px !important;
    transform: none;
    border: none;
    transition: min-height 0.25s ease-in, min-width 0.25s ease-in;
}

#about-me-content.maximize #about-me-body {
    backface-visibility: hidden;
    min-width: 100%;
    min-height: calc(calc(var(--vh, 1vh) * 100) - 74px);
}

#hello-content.maximize #hello-greeting {
    backface-visibility: hidden;
    min-width: 100%;
    min-height: calc(calc(var(--vh, 1vh) * 100) - 60px);
}

#hello.hideContent #hello-content,
#about-me.hideContent #about-me-content,
#music-player.hideContent #music-player-content {
    max-height: 0;
    max-width: 0;
    padding: 0;
    border: 0;
    transition: max-height 0.25s ease-out, max-width 0.25s ease-out;
    overflow: hidden;
}

#about-me #about-me-content.maximize,
#hello #hello-content.maximize {
    max-height: 0;
    max-width: 0;
    transition: min-height 0.25s ease-out, min-width 0.25s ease-out;
    overflow: hidden;
}

#about-me.hideContent #about-me-content.maximize,
#hello.hideContent #hello-content.maximize {
    min-height: 0;
    min-width: 0;
    padding: 0;
    transition: min-height 0.25s ease-out, min-width 0.25s ease-out;
    overflow: hidden;
}

#hello-content,
#about-me-content,
#music-player-content {
    overflow: hidden;
    max-height: auto;
    max-width: auto;
    padding: 2px;
    transition: max-height 0.25s ease-in, max-width 0.25s ease-in;
}

#about-me-content {
    max-width: 900px;
    max-width: 90%;
}

#hello-content {
    max-width: 90%;
    height: auto;
    width: 900px;
}

/* Olá */

#hello-body {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
}

#hello-greeting {
    width: 100%;
    height: 100%;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#hello-greeting>* {
    flex: 1 1 170px;
}

#hello-img {
    border-radius: 50%;
    max-width: 80%;
    border: 2px solid #fff;
    box-shadow: 5px 5px 0px #ccc;
    filter: hue-rotate(315deg);
}

/* #hello-img {
    border-radius: 50%;
    max-width: 80%;
    border: 2px solid #fff;
    box-shadow: 1px 2px 5px #ccc;
} */


#hello-social {
    margin-top: 20px;
}

/* Sobre mim */

#about-me-body {
    position: relative;
    height: 100%;
    background-color: var(--white);
    position: relative;
    max-height: 80vh;
    width: 600px;
    padding: 20px;
    height: auto;
    resize: both;
    overflow-x: scroll;
    overflow-y: scroll;
}

#about-me-body hr {
    border-top: 1px dashed black;
}

#about-me-title,
#about-me-footer {
    margin: 20px 20px 20px 20px;
    font-size: 10px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
}

#about-me-title {
    white-space: pre;
    font-size: 8px;
}

/* Musica */

.wrapper {
    display: flex;
    overflow: hidden;
    gap: 100px;
}

.textWrapper {
    max-width: 100px;
    min-width: 100px;
    overflow: ellipsis;
    white-space: nowrap;
    padding: 8px 40rem 0 40rem;
    animation: move-rlt 30000ms linear infinite;
}

@keyframes move-rlt {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-250%);
    }
}

#music-player-body {
    padding: 1px;
    position: relative;
    max-height: 80vh;
    width: 300px;
}

#music-player-body p {
    color: #ccc;
}

#progress-bar-container {
    width: 560px;
    height: 10px;
    margin-top: 10px;
    border-top: inset 1px rgb(214, 214, 214);
    border-left: inset 1px rgb(214, 214, 214);
    border-bottom: inset 1px white;
    border-right: inset 1px white;
}

#progress-bar {
    position: absolute;
    margin-top: -6px;
    height: 20px;
    width: 10px;
    background-color: var(--backgroud);
    border-top: ridge 1px white;
    border-left: ridge 1px white;
    border-bottom: ridge 1px black;
    border-right: ridge 1px black;
}

#music-player-controls {
    display: flex;
    padding: 10px 0 10px 0;
    gap: 5px;
}

#music-player-title {
    margin-top: 5px;
    background-color: black;
}

#music-player-title div {
    color: var(--white);
}

#volume {
    padding-top: 5px;
}

#volume-image-shadow {
    position: fixed;
    height: 18px;
    margin-top: -2px;
    margin-left: -1px;
    width: 70px;
    cursor: pointer;
    background: linear-gradient(to bottom right,
            transparent 50%,
            rgba(107, 107, 107, 0.5) 50%);
}

input[type=range] {
    appearance: none;
    display: block;
    width: 70px;
    height: 18px;
    background-color: transparent;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 18px;
    margin-top: -1px;
    width: 70px;
    cursor: pointer;
    background: linear-gradient(to bottom right,
            transparent 50%,
            var(--backgroud) 50%);
}


input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 10px;
    margin-top: -1px;
    background-color: var(--backgroud);
    border-top: ridge 1px white;
    border-left: ridge 1px white;
    border-bottom: ridge 1px black;
    border-right: ridge 1px black;
}

.volume-input::-webkit-slider-runnable-track {
    z-index: 5;
    height: 1px;
}


/* Outros */

#notifications {
    margin-left: auto;
    min-width: 55px;
    max-height: 21px;
}

#notifications div {
    padding: 2px;
    margin-left: 3px;
    display: flex;
    align-items: center;
    text-align: center;
}

#notifications span {
    margin-top: 2px;
}

#clock {
    cursor: default;
    font-size: 11px;
}