@import './constants.css';

:root {
    --vertical-increment: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 25 25' transform='scale(1 -1)'><path style='fill: rgb(32, 5, 27);' d='M12 3l12 18h-24z'/></svg>");
    --vertical-increment-disabled: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 25 25' transform='scale(1 -1)'><path style='fill: grey;' d='M12 3l12 18h-24z'/></svg>");

    --vertical-decrement: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 25 25'><path style='fill: rgb(32, 5, 27);' d='M12 3l12 18h-24z'/></svg>");
    --vertical-decrement-disabled: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 25 25'><path style='fill: grey;' d='M12 3l12 18h-24z'/></svg>");

    --horizontal-increment: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 25 25'><path style='fill: rgb(32, 5, 27);' d='M25 12l-18 12v-24z'/></svg>");
    --horizontal-increment-disabled: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 25 25'><path style='fill: grey;' d='M25 12l-18 12v-24z'/></svg>");

    --horizontal-decrement: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 25 25' transform='scale(-1 1)'><path style='fill: rgb(32, 5, 27);' d='M25 12l-18 12v-24z'/></svg>");
    --horizontal-decrement-disabled: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 25 25' transform='scale(-1 1)'><path style='fill: grey;' d='M25 12l-18 12v-24z'/></svg>");
}

.dark-mode:root {
    --vertical-increment: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 25 25' transform='scale(1 -1)'><path style='fill: rgb(226, 213, 224);' d='M12 3l12 18h-24z'/></svg>");
    --vertical-increment-disabled: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 25 25' transform='scale(1 -1)'><path style='fill: rgb(56, 56, 56);' d='M12 3l12 18h-24z'/></svg>");

    --vertical-decrement: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 25 25'><path style='fill: rgb(226, 213, 224);' d='M12 3l12 18h-24z'/></svg>");
    --vertical-decrement-disabled: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 25 25'><path style='fill: rgb(56, 56, 56);' d='M12 3l12 18h-24z'/></svg>");

    --horizontal-increment: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 25 25'><path style='fill: rgb(226, 213, 224);' d='M25 12l-18 12v-24z'/></svg>");
    --horizontal-increment-disabled: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 25 25'><path style='fill: rgb(56, 56, 56);' d='M25 12l-18 12v-24z'/></svg>");

    --horizontal-decrement: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 25 25' transform='scale(-1 1)'><path style='fill: rgb(226, 213, 224);' d='M25 12l-18 12v-24z'/></svg>");
    --horizontal-decrement-disabled: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 25 25' transform='scale(-1 1)'><path style='fill: rgb(56, 56, 56);' d='M25 12l-18 12v-24z'/></svg>");
}

::-webkit-scrollbar {
    width: 20px;
    height: 20px;
}

::-webkit-scrollbar-button {
    display: block;
    width: 20px;
    height: 20px;
    background-color: var(--window-backgroud);
    border-top: ridge 2px var(--frame-shadow-white);
    border-left: ridge 2px var(--frame-shadow-white);
    border-bottom: var(--frame-border-style) 2px var(--frame-shadow-black);
    border-right: var(--frame-border-style) 2px var(--frame-shadow-black);
    background-position: center;
    background-repeat: no-repeat;
}

::-webkit-scrollbar-button:vertical:start:increment,
::-webkit-scrollbar-button:vertical:end:decrement,
::-webkit-scrollbar-button:horizontal:start:increment,
::-webkit-scrollbar-button:horizontal:end:decrement {
    display: none;
}

::-webkit-scrollbar-button:vertical:increment {
    background-image: var(--vertical-increment);
}

::-webkit-scrollbar-button:vertical:disabled:increment {
    background-image: var(--vertical-increment-disabled);
}

::-webkit-scrollbar-button:vertical:decrement {
    background-image: var(--vertical-decrement);
}

::-webkit-scrollbar-button:vertical:disabled:decrement {
    background-image: var(--vertical-decrement-disabled);
}

::-webkit-scrollbar-button:horizontal:increment {
    background-image: url('../assets/icons/scroll-buttom/iconmonstr-arrow-right.svg');
    background-image: var(--horizontal-increment);
}

::-webkit-scrollbar-button:horizontal:disabled:increment {
    background-image: url('../assets/icons/scroll-buttom/iconmonstr-arrow-right-disabled.svg');
    background-image: var(--horizontal-increment-disabled);
}

::-webkit-scrollbar-button:horizontal:decrement {
    background-image: url('../assets/icons/scroll-buttom/iconmonstr-arrow-left.svg');
    background-image: var(--horizontal-decrement);
}

::-webkit-scrollbar-button:horizontal:disabled:decrement {
    background-image: url('../assets/icons/scroll-buttom/iconmonstr-arrow-left-disabled.svg');
    background-image: var(--horizontal-decrement-disabled);
}

::-webkit-scrollbar-thumb {
    background-color: var(--window-backgroud);
    border-top: ridge 2px var(--frame-shadow-white);
    border-left: ridge 2px var(--frame-shadow-white);
    border-bottom: var(--frame-border-style) 2px var(--frame-shadow-black);
    border-right: var(--frame-border-style) 2px var(--frame-shadow-black);
}

::-webkit-scrollbar-track-piece {
    background-color: var(--scroll-backgroud);
}

::-webkit-resizer {
    background: var(--scroll-backgroud);
    background-image: url('../assets/icons/resize.png');
}