.startRest {
    border-top: ridge 2px var(--frame-shadow-white);
    border-left: ridge 2px var(--frame-shadow-white);
    border-bottom: var(--frame-border-style) 2px var(--frame-shadow-black);
    border-right: var(--frame-border-style) 2px var(--frame-shadow-black);
}

.startClick,
.windowBorder {
    border-top: inset 2px var(--frame-shadow-black);
    border-left: inset 2px var(--frame-shadow-black);
    border-bottom: inset 2px var(--frame-shadow-white);
    border-right: inset 2px var(--frame-shadow-white);
}

.startClick {
    outline: 1px dotted var(--button-frame-dotted-click);
    outline-offset: -4px;
}