#music-player-btn,
#music-player-header-title {
    background: url('../assets/icons/desktop/music.png') left center no-repeat;
    background-size: 15px 15px;
    background-position-x: 2px;
}

#volume-icon {
    background-position: center;
    background-image: url('../assets/icons/desktop/sounds.png');
    background-size: 20px;
    background-repeat: no-repeat;
}

.wrapper {
    display: flex;
    overflow: hidden;
    gap: 100px;
    outline: none;
}

.textWrapper {
    max-width: 100px;
    min-width: 100px;
    overflow: ellipsis;
    white-space: nowrap;
    padding: 8px 40rem 0 40rem;
    animation: move-rlt 30000ms linear infinite;
}

@keyframes move-rlt {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-250%);
    }
}

#music-player-body {
    padding: 1px;
    position: relative;
    max-height: 80vh;
    width: 300px;
}

#progress-bar-container {
    width: 560px;
    height: 10px;
    margin-top: 10px;
    border-top: ridge 1px var(--music-player-slider-shadow-black);
    border-left: ridge 1px var(--music-player-slider-shadow-black);
    border-bottom: var(--frame-border-style) 1px var(--frame-shadow-white);
    border-right: var(--frame-border-style) 1px var(--frame-shadow-white);
}

#progress-bar {
    position: absolute;
    margin-top: -6px;
    height: 20px;
    width: 10px;
    background-color: var(--window-backgroud);
    border-top: ridge 1px var(--frame-shadow-white);
    border-left: ridge 1px var(--frame-shadow-white);
    border-bottom: var(--frame-border-style) 1px var(--music-player-buttons-shadow-black);
    border-right: var(--frame-border-style) 1px var(--music-player-buttons-shadow-black);
}

#music-player-controls {
    display: flex;
    padding: 10px 0 10px 0;
    gap: 5px;
}

#music-player-title {
    margin-top: 5px;
    background-color: var(--body-backgroud-black);
}

#music-player-body p {
    padding-top: 15px;
    color: var(--music-player-text-color);
}

#music-player-image {
    filter: var(--music-player-image-effect);
}

#volume {
    padding-top: 5px;
}

#volume-image-shadow {
    position: fixed;
    height: 18px;
    margin-top: -2px;
    margin-left: -1px;
    width: 70px;
    cursor: pointer;
    background: linear-gradient(to bottom right,
            transparent 50%,
            var(--music-player-volume-shadow-black) 50%);
}

input[type=range] {
    appearance: none;
    display: block;
    width: 70px;
    height: 18px;
    background-color: transparent;
    border-right: 1px solid var(--frame-shadow-white);
    border-bottom: 1px solid var(--frame-shadow-white);
}

input[type=range]::-webkit-slider-runnable-track {
    height: 18px;
    margin-top: -1px;
    width: 70px;
    cursor: pointer;
    background: linear-gradient(to bottom right,
            transparent 50%,
            var(--window-backgroud) 50%);
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 10px;
    margin-top: -1px;
    background-color: var(--window-backgroud);
    border-top: solid 1px var(--frame-shadow-white);
    border-left: solid 1px var(--frame-shadow-white);
    border-bottom: solid 1px var(--music-player-buttons-shadow-black);
    border-right: solid 1px var(--music-player-buttons-shadow-black);
}

.volume-input::-webkit-slider-runnable-track {
    z-index: 5;
    height: 1px;
}