<!DOCTYPE html>
<html>

<body>
    <pre><span>
         ________  ________  _______   ________  ___  _________  ________  ________      
        |\   ____\|\   __  \|\  ___ \ |\   ___ \|\  \|\___   ___\\   __  \|\   ____\     
        \ \  \___|\ \  \|\  \ \   __/|\ \  \_|\ \ \  \|___ \  \_\ \  \|\  \ \  \___|_    
         \ \  \    \ \   _  _\ \  \_|/_\ \  \ \\ \ \  \   \ \  \ \ \  \\\  \ \_____  \   
          \ \  \____\ \  \\  \\ \  \_|\ \ \  \_\\ \ \  \   \ \  \ \ \  \\\  \|____|\  \  
           \ \_______\ \__\\ _\\ \_______\ \_______\ \__\   \ \__\ \ \_______\____\_\  \ 
            \|_______|\|__|\|__|\|_______|\|_______|\|__|    \|__|  \|_______|\_________\
                                                                             \|_________|</span></pre>
    </p>
    <hr>
    <h1>-ˋ Icones ˊ-</h1>
    <p>Mídias sociais <a href="https://www.iconfinder.com/Eisenhower" target="_blank">Iconfinder</a> .</p>
    <p>Desktop <a href="https://aconfuseddragon.itch.io/windows-95-plus-1" target="_blank">AConfusedDragon</a> by <a
            href="https://twitter.com/aconfuseddragon" target="_blank">@aconfuseddragon</a> .</p>
    <p>Emoji <a href="https://www.flaticon.com/free-icons/pixelated" target="_blank">Flaticon</a> .</p>
    <p>Controle <a href="https://iconmonstr.com/" target="_blank">iconmonstr</a> .</p>
    <h1>-ˋ Imagens ˊ-</h1>
    <p>Papel de parede <a href="https://kimenanami.artstation.com/" target="_blank">Kime Nanami</a> by <a
            href="https://twitter.com/kimenanami" target="_blank">@kimenanami</a> .</p>
    <p>Rádio <a href="https://galactic-castle.tumblr.com/" target="_blank">Galactic Castle</a> by <a
            href="https://twitter.com/galactic_castle" target="_blank">@galactic_castle</a> .</p>
    <p>Rádio <a href="https://www.pixilart.com/art/undertale-annoying-dog-cb942dc43ab2ecf" target="_blank">Pixilart</a>
        .</p>
    <p>Logos <a href="https://www.deviantart.com/panfrieddupa/gallery/83848313/pixel-logos"
            target="_blank">panfrieddupa</a> by <a href="https://twitter.com/panfrieddupa"
            target="_blank">@panfrieddupa</a> .</p>
    <hr>
</body>

</html>